<footer class="footer">
        <div class="container">
            <div class="row">
                <div class="container">
                    <div class="footer-top">
                        <div class="col-md-4">
                            <!-- footer About section
                            ========================== -->
                            <div class="footer-about">
                                <h3 class="footer-title">About</h3>
                                <p>Nemo enim ipsam voluptatem quia voluptas <br>
                                 sit aspernatur aut odit aut fugit, sed quia <br>
                                  magni dolores eos qui ratione. ed quia <br>
                                  magni dolores</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <!-- footer Address section
                            ========================== -->
                            <div class="footer-address">
                                <h3 class="footer-title">Address</h3>
                                <p>DeviserWeb 24/A,Jalalabad amborkhana amagnina, Sylhet.</p>
                                <p class="contact-address">
                                    Contact us : <a href="tel:+610383666274">+61 (0) 3 8366 6274 </a> <br>
                                    Write us : <a href="mailto:info@info.com">mail@itsnuman.com</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <!-- footer Media link section
                            ========================== -->
                            <div class="footer-social-media">
                                <h3 class="footer-title">Keep in touch</h3>
                                <ul class="footer-media-link">
                                    <li><a href="https://github.com/and3212"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                    <li><a href="https://stackoverflow.com/users/8167040"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a></li>
                                    <li><a href="https://twitter.com/liamrlawrence"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer-nav text-center">
                        <div class="col-md-12">
                            <ul>
                                <li><a href="index">Home</a></li>
                                <li><a href="portfolio">Portfolio</a></li>
                                <li><a href="contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>&copy; All rights reserved, 2017. <br>
                                Designed by Liam Lawrence.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <!-- Full Page Js -->
    <script src="js/vendor/jquery.fullpage.min.js"></script>
    <!-- nav js -->
    <script src="js/vendor/fullscreen-overlay-nav.js"></script>
    <!-- Owl Carousel js -->
    <script src="js/vendor/owl.carousel.min.js"></script>
    <!-- Mixitup -->
    <script src="js/vendor/jquery.mixitup.js"></script>
    <!-- Lightbox -->
    <script src="js/vendor/jquery.magnific-popup.min.js"></script>
    <!-- Parallax -->
    <script src="js/vendor/parallax.min.js"></script>
    <!-- Video -->
    <script src="js/vendor/jquery.vide.js"></script>

    <!-- Revolution Slider -->
    <script src="js/vendor/jquery.themepunch.tools.min.js"></script>
    <script src="js/vendor/jquery.themepunch.revolution.min.js"></script>

    <script type="text/javascript" src="js/vendor/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="js/vendor/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="js/vendor/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="js/vendor/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="js/vendor/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="js/vendor/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="js/vendor/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="js/vendor/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="js/vendor/extensions/revolution.extension.video.min.js"></script>
    
    <!-- =======
        Main Js
    ============ -->
    <script src="js/script.js"></script>
  </body>