  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>PAGE TITLE HERE</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
    <!-- Nav -->
    <link rel="stylesheet" href="css/vendor/fullscreen-overlay-nav.css">
    <!-- ThemeFisher Icon -->
    <link rel="stylesheet" href="css/vendor/themefisher-fonts.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="css/vendor/owl.carousel.css">
    <link rel="stylesheet" href="css/vendor/owl.transitions.css">
    <!-- Light Box -->
    <link rel="stylesheet" href="css/vendor/magnific-popup.css">
    <!-- fullpage -->
    <link rel="stylesheet" href="css/vendor/fullpage.min.css">
    <link rel="stylesheet" href="css/vendor/playfairdisplaysc.css">
    <link rel="stylesheet" href="css/vendor/font-awesome.min.css">
    <!-- Font-awesome -->
    <link rel="stylesheet" href="fonts/font-awesome5/css/font-awesome-light.css">
    <link rel="stylesheet" href="fonts/font-awesome5/css/font-awesome-core.css">
    <link rel="stylesheet" href="fonts/font-awesome5/css/font-awesome-regular.css">
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.css">

    <!-- Revolution Slider -->
    <link rel="stylesheet" href="css/vendor/settings.css">
    <link rel="stylesheet" href="css/vendor/layers.css">
    <link rel="stylesheet" href="css/vendor/navigation.css">

    <link rel="stylesheet" href="css/style.css">
    <script src="js/vendor/modernizr.min.js"></script>
  </head>